.divContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  .header {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
    margin-left: 0.5rem;
    .iconHome {
      width: 15px;
      height: 15px;
    }
    .iconSeta {
      margin: 0 0.5rem;
      width: 10px;
      height: 15px;
    }
    h2 {
      font-size: 1em;
      font-weight: 400;
      font-family: "Inter", sans-serif;
    }
  }
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  label {
    margin-bottom: 0.6rem;
  }
  .empresaContainer {
    width: 37vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    .linhaUm {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .nome {
        width: 19vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        label {
          font-size: 1em;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        input {
          width: 100%;
          height: 5vh;
          border-radius: 6px;
          border: 0.8px solid #cbd4e1;
        }
      }
      .empresa {
        width: 7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        label {
          font-size: 1em;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        input {
          width: 100%;
          height: 5vh;
          border-radius: 6px;
          border: 0.8px solid #cbd4e1;
        }
      }
    }
    .linhaDois {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      margin-top: 1rem;
      label {
        font-size: 1em;
        font-weight: 700;
        font-family: "Inter", sans-serif;
      }
      textarea {
        width: 100%;
        height: 5vh;
        border-radius: 6px;
        border: 0.8px solid #cbd4e1;
      }
    }
  }
  .linha {
    width: 1px;
    height: 15vh;
    background-color: #cbd4e1;
  }
  .valores {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 2rem;
    .linhaTres {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .data {
        display: flex;
        width: 9vw;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        label {
          font-size: 1em;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        input {
          width: 100%;
          height: 5vh;
          border-radius: 6px;
          border: 0.8px solid #cbd4e1;
          font-size: 1em;
          color: #757575;
          font-weight: 400;
          font-family: "Inter", sans-serif;
          padding-left: 0.5rem;
        }
      }
      .tipoDespesa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        label {
          font-size: 1em;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        .selectContainer {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 5vh;
          select {
            height: 100%;
            width: 100%;
            border-radius: 6px 0 0 6px;
            border: 0.8px solid #cbd4e1;
            font-size: 1em;
            color: #757575;
            font-weight: 400;
            font-family: "Inter", sans-serif;
            appearance: none;
            padding-left: 0.5rem;
          }
          select:focus {
            outline: none;
          }
          .seta {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 0 6px 6px 0;
            width: 48px;
            height: 100%;
            background-color: #001a3d;
            img {
              width: 16px;
              margin: 0;
              padding: 0;
            }
          }
        }
        .selectContainer:hover {
          border-radius: 6px;
          border: 0.8px solid #001a3d;
          box-shadow: 0rem 0rem 0rem 0.3rem #cbd4e1;
        }
      }
      .controleCusto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        label {
          font-size: 1em;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        .selectContainer {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 5vh;
          select {
            height: 100%;
            width: 100%;
            border-radius: 6px 0 0 6px;
            border: 0.8px solid #cbd4e1;
            font-size: 1em;
            color: #757575;
            font-weight: 400;
            font-family: "Inter", sans-serif;
            appearance: none;
            padding-left: 0.5rem;
          }
          select:focus {
            outline: none;
          }
          .seta {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 0 6px 6px 0;
            width: 48px;
            height: 100%;
            background-color: #001a3d;
            img {
              width: 16px;
              margin: 0;
              padding: 0;
            }
          }
        }
        .selectContainer:hover {
          border-radius: 6px;
          border: 0.8px solid #001a3d;
          box-shadow: 0rem 0rem 0rem 0.3rem #cbd4e1;
        }
      }
    }
    .linhaQuatro {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      .ordemInterna {
        width: 3.75vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        label {
          font-size: 1em;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        input {
          width: 100%;
          height: 5vh;
          border-radius: 6px;
          border: 0.8px solid #cbd4e1;
          font-size: 1em;
          color: #757575;
          font-weight: 400;
          font-family: "Inter", sans-serif;
        }
      }
      .pep {
        width: 3.75vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        label {
          font-size: 1em;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        input {
          width: 100%;
          height: 5vh;
          border-radius: 6px;
          border: 0.8px solid #cbd4e1;
          font-size: 1em;
          color: #757575;
          font-weight: 400;
          font-family: "Inter", sans-serif;
        }
      }
      .divisao {
        width: 3.75vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        label {
          font-size: 1em;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        input {
          width: 100%;
          height: 5vh;
          border-radius: 6px;
          border: 0.8px solid #cbd4e1;
          font-size: 1em;
          color: #757575;
          font-weight: 400;
          font-family: "Inter", sans-serif;
        }
      }
      .distancia {
        width: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        label {
          font-size: 1em;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        input {
          width: 100%;
          height: 5vh;
          border-radius: 6px;
          border: 0.8px solid #cbd4e1;
          font-size: 1em;
          color: #757575;
          font-weight: 400;
          font-family: "Inter", sans-serif;
        }
      }
      .moeda {
        width: 3.75vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        label {
          font-size: 1em;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        select {
          width: 100%;
          height: 5vh;
          border-radius: 6px;
          border: 0.8px solid #cbd4e1;
          font-size: 1em;
          color: #757575;
          font-weight: 400;
          font-family: "Inter", sans-serif;
          appearance: none;
          padding-left: 0.5rem;
        }
        select:focus {
          outline: none;
        }
      }
      .valor {
        width: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        label {
          font-size: 1em;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        input {
          width: 100%;
          height: 5vh;
          border-radius: 6px;
          border: 0.8px solid #cbd4e1;
          font-size: 1em;
          color: #757575;
          font-weight: 400;
          font-family: "Inter", sans-serif;
        }
      }
      .valorTaxa {
        width: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        label {
          font-size: 1em;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        input {
          width: 100%;
          height: 5vh;
          border-radius: 6px;
          border: 0.8px solid #cbd4e1;
          font-size: 1em;
          color: #757575;
          font-weight: 400;
          font-family: "Inter", sans-serif;
        }
      }
      .valorFaturado {
        width: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        label {
          font-size: 1em;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        input {
          width: 100%;
          height: 5vh;
          border-radius: 6px;
          border: 0.8px solid #cbd4e1;
          font-size: 1em;
          color: #757575;
          font-weight: 400;
          font-family: "Inter", sans-serif;
        }
      }
      .btnSalvar {
        margin-left: 2rem;
        width: 5vw;
        height: 5vh;
        background-color: #001a3d;
        color: #ffffff;
        border-radius: 6px;
        font-size: 1em;
        font-weight: 700;
        font-family: "Inter", sans-serif;
        border: none;
      }
      .btnCancelar {
        margin-right: 2rem;
        width: 2.5vw;
        height: 5vh;
        background-color: #00bedd;
        color: #ffffff;
        border-radius: 6px;
        border: none;
      }
    }
  }
}

.tabela {
  width: 93.3vw;
  height: 55vh;
  border: 0.8px solid #cbd4e1;
  border-radius: 6px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 2rem;
  .cabecalho {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 6px 6px 0 0;
    border-bottom: 0.8px solid #cbd4e1;
    .col1 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f2f2f2;
      width: 3vw;
      height: 100%;
      border-right: 0.8px solid #cbd4e1;
    }
    th {
      display: flex;
      justify-content: center;
      align-items: center;
      text-wrap: wrap;
      height: 100%;
      width: 10vw;
      border-right: 0.8px solid #cbd4e1;
      color: #23282f;
      font-size: 1em;
      font-weight: 400;
      font-family: "Inter", sans-serif;
    }
    .lastCol {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      border: none;
    }
  }
  tr {
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 0.8px solid #cbd4e1;
    .col1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3vw;
      height: 100%;
      border-right: 0.8px solid #cbd4e1;
    }
    .col1:focus {
      background-color: #a60b2f;
    }
    td {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10vw;
      height: 100%;
      border-right: 0.8px solid #cbd4e1;
      color: #23282f;
      font-size: 1em;
      font-weight: 400;
      font-family: "Inter", sans-serif;
    }
    .lastCol {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      border: none;
    }
  }
}

.enviarSolicitacao {
  width: 93.3vw;
  height: 10vh;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 2rem;
  div {
    margin: 1rem;
    width: 7.5vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    label {
      color: #23282f;
      font-size: 1em;
      font-weight: 700;
      font-family: "Inter", sans-serif;
    }
    input {
      width: 100%;
      height: 5vh;
      margin-top: 0.7rem;
      border-radius: 6px;
      border: 0.8px solid #cbd4e1;
      padding-left: 0.5rem;
    }
    ::placeholder {
      font-size: 1em;
      color: #757575;
      font-weight: 400;
      font-family: "Inter", sans-serif;
      margin-left: 1rem;
    }
  }
  .btnEnviar {
    width: 11.4vw;
    height: 6vh;
    background-color: #001a3d;
    color: #ffffff;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    border: none;
    margin-top: 1rem;
    margin-right: 1rem;
    img {
      margin-right: 0.5rem;
    }
  }
  .btnCancelarSolicitacao {
    margin-right: 1rem;
    margin-top: 1rem;
    width: 11.4vw;
    height: 6vh;
    background-color: #a60b2f;
    color: #ffffff;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    border: none;
    img {
      margin-right: 0.5rem;
    }
  }
}
